<h5>Add a New Todo</h5>
<form class="row g-3">
  <label for="staticEmail2" class="form-label">Title</label>
  <input
    type="text"
    class="form-control"
    id="staticEmail2"
    value="Add a Title"
    required
  />

  <label for="inputPassword2" class="form-label">Description</label>
  <input
    type="text"
    class="form-control"
    id="inputPassword2"
    placeholder="Add a  Description"
    required
  />

  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
  </div>
</form>
